@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lexend:wght@100;200;300;400;500;600&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    --blue: #0033AD;
    --mustard: #A68952;
    --green: #8BB7A2;
    --white: #FFFFFF;
    --light-grey: #F4F5F6;
    --medium-grey: #E9EBED;
    --dark-grey: #636C79;
    --black-grey: #090A0B;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--light-grey);
    color: var(--dark-grey);
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
